html  {
           
    scrollbar-color: #124271 #f1f1f1 !important;
    scroll-behavior: smooth;
    } 

/* .main-header {
    position: relative;
}

.back-section .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    opacity: 0.8;
}

.back-img img {
    width: 100%;
    height: 100%;
}

.main-card {
    text-align: center;
}

.card-1 {
    position: absolute;
    top: 10%;
    left: 20%;
    width: 100%;
} */

.main-page {
    background-image: url('../imges/background-sign.jpeg')  ;
  
    padding: 100px 70px 70px 70px;


  

}
.body-page {
    background-color: white;
    border-radius: 10px;
    width: 800px;
    height: 100%;
    text-align: center;
   
}
.text-page {
   
}
@media (max-width: 850px) {
    .main-page {
        padding: 50px 30px 30px 30px;
    }

    .body-page {
        width: 100%;
        height: 100%;
       
    }
}



/* @media (max-width: 702px) {
    .padnav {
        padding-left: 300px;
    }
  } */

  @media (max-width: 992px) {
    .logo {
        width: 50px;
    }
}


@media (min-width: 992px) {
    .padnav {
        padding-left: 0;
        
    }
}
@media (max-width: 992px) {
    .padnav {
        padding-left: 0;
        
    }
}



@media (min-width: 992px) {
    .c-l-nav {
       padding-right: 0 !important;
       justify-content: end !important;
       
    }
}
@media (max-width: 992px) {
    .c-l-nav {
       padding-right: 0 !important;
       justify-content: left !important;
       
    }
}
@media (min-width: 1200px) {
    .c-l-nav {
       padding-right: 70px !important;
      
       
    }
}


@media (min-width: 992px) {
    .c-r-nav {
       padding-left: 0 !important;
       justify-content: left !important;
       
    }
}
@media (max-width: 992px) {
    .c-r-nav {
       padding-left: 0 !important;
       justify-content: right !important;
       
    }
}
@media (min-width: 1200px) {
    .c-r-nav {
       padding-left: 100px !important;  
    }
}
@media (min-width: 1200px) {
    .c-r-nav {
       padding-left: 100px !important;  
    }
}

 /* rtl */
@media (min-width: 992px) {
    .c-rt-nav {
       padding-left: 0 !important;
       justify-content: left !important;
       
    }
}
@media (max-width: 992px) {
    .c-rt-nav {
       padding-left: 0 !important;
       justify-content: right !important;
       
    }
}
@media (min-width: 1200px) {
    .c-rt-nav {
       padding-left: 100px !important;  
    }
}
@media (min-width: 1200px) {
    .c-rt-nav {
       padding-left: 20px !important;  
    }
}


@media (max-width: 992px) {
    .footer-logon {
       padding-bottom: 40px;    
       max-width: 100%;   
    }
}

@media (max-width: 992px) {
    .bfooter {
        padding-top: 30px;
    }
}

@media (max-width: 992px) {
    .widh-img {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .f-size {
        font-size: 35px !important;
        margin-top: -100px;
    }
}


/* 
@media (max-width: 767px) {
    .page-title-lg {
        padding: 120px 0;
    }
}

@media (min-width: 767px) {
    .page-title-lg {
        padding: 210px 0 !important;
    }
} */




.m-card {
    border-radius: 6px;
    margin-bottom: 30px;
}

.hover-effect {
    -webkit-transition: transform 0.25s ease, box-shadow 0.3s ease;
    -o-transition: transform 0.25s ease, box-shadow 0.3s ease;
    transition: transform 0.25s ease, box-shadow 0.3s ease;
    box-shadow: none;
    border: 0;
}

.hover-effect:hover {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
}

.Lang:hover {
    background-color: rgb(0 123 255 / 50%);
    color: white;
}

.icon-angle-down {
    display: none;
}

.dropdown-item {
    color: #444;
    font-weight: bold;
}

.dropdown-item:hover {
    background-color: rgb(0 123 255 / 50%);
    color: white;
}

.navbar-toggler {
    border: 1px solid #0069d9;
}

.navbar-toggler:hover {
    color: white !important;
    background-color: #0069d9;
    transition: .2s all;
}

.lang-btn:focus {
    box-shadow: none;
}

.content{
    position: relative;
    z-index: 3;
    background-color: white !important;
   
}

.card-text {
    text-align: justify;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.8;
}

/* .f35 {
    font-size: 35px !important;
} */
.f40 {
    font-family: "Cairo", sans-serif !important;
    font-size:40px  !important;
}
.f40-en {
    font-size:40px  !important;
}

.f30 {
    font-family: "Cairo", sans-serif !important;
    font-size:30px  !important;
}

.f26 {
    font-family: "Cairo", sans-serif !important;
    font-size: 26px !important;
}
.f24 {
    font-family: "Cairo", sans-serif !important;
    font-size: 24px !important;

}
.f22 {
    font-family: "Cairo", sans-serif !important;
    font-size: 22px !important;
}

.f20 {
    font-family: "Cairo", sans-serif !important;
    font-size: 20px !important;
}

.f19 {
    font-family: "Cairo", sans-serif !important;
    font-size: 19px !important;
}
.f18 {
    
    font-family: "Cairo", sans-serif !important;
    font-size: 18px !important;
}
.f17 {
    font-size: 16px !important;
}

.f16 {
    font-family: "Cairo", sans-serif !important;
    font-size: 18px  !important;
    font-weight: bold !important;
}
.f14 {
    font-size: 13px !important;

}

.line-h {
    line-height: 1.9;
}
.line-p {
    line-height: 1.9;
}


.lh {
    font-family: "Cairo", sans-serif !important;
    font-size: 20px;
    letter-spacing : 0 !important;   
    line-height: 1.5;
}

.font-weight-400 {
    font-weight: 400 !important;
}

.background-tab {
    position: relative;
    
}

.background-tab-1 {
    padding-top: 10px !important;
    position: relative;
    z-index: 22;
}

.background-position {
    position: absolute;
    top: -100px;
    left: 0;
    z-index: 1;
}

.background-text {
    position: relative;
    z-index: 44;
}


@media (max-width: 767.98px) {
    #page-title {
        text-align: center !important;
    }
}
@media (max-width: 767.98px) {
    #page-title .breadcrumb {
        justify-content: center !important;
    }
}
.hfamily {
    font-family: "Cairo", sans-serif !important;
    font-weight: bold !important;
}
.pfamily {
    font-family: "Cairo", sans-serif !important;
}

@keyframes textclip {
    to {
      background-position: 200% center;
    }
  }
.animate-charcter {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg, #624d8a 0%, #eeebf1 29%, #124271ba 67%, #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    margin: 0 15px;
  }

 .counter-ground {
    background-position: center center;
    background-repeat: no-repeat; 
    background-size: cover; 
    position: relative;
    width: 100%;
    z-index: 2;
 } 

.overlay-img {
    background-color: #124271 !important;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    
}
.text-ground {
    position: relative;
    z-index: 3333;
}

.card-stat {
    text-align: center;
    border-radius: 4px;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.15);
    padding: 20px 20px 15px 20px;
}
.rounded-15 {
    border-radius: 15px;
}

.span-footer {
    color: #007bffb3;
    font-style: italic;
}

.borderd {
    border: 1px solid #e5e5e5;
}

.test {

    overflow: hidden;
    height: 761px;
}
@media (max-width: 991px) {
    .test {
      height: 678px;
       
    }
}
@media (max-width: 510px) {
    .test {
      height: 967px;
       
    }
}
@media (max-width: 310px) {
    .test {
      height: 1039px !important;
       
    }
}
@media (max-width: 292px) {
    .test {
      height: 1127px  !important;
       
    }
}


/* 
@media (max-width: 991px) {
    .widget-width {
     padding-top: 200px !important;
       
    }
}


@media (max-width: 510px) {
    .widget-width {
        padding-top: 400px !important;
       
    }
}

@media (max-width: 991px) {
    .widget-width-rtl {
     padding-top: 200px !important;
       
    }
}


@media (max-width: 510px) {
    .widget-width-rtl {
        padding-top: 522px !important;
       
    }
}

 */

/* 
 .width-250 {
    width: 250px !important;
 } */
.pricing-title {
    letter-spacing: 0;
}



@media (max-width: 680px) {
    .slider-h {
       
       font-size: 40px !important;
    }
}

@media (max-width: 400px) {
    .slider-h {
        padding-bottom: 130px;
       font-size: 50px !important;
    }
}

@media (max-width: 400px) {
    .f40-en {
       
       font-size:37px !important;
    }
}
 .quote-p {
    font-weight: bold;
    color: #555 !important;
 }

 .quote-p-rtl {
    font-size: 24px;
    font-family: "Cairo", sans-serif !important;
    font-weight: bold;
    color: #555 !important;
 }

 .icon-hover-call:hover {
    background-color: #444 !important;
 }